*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navImage img{
    width: 236px;
    height: 126px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
    margin: 0;
}


.List{
    display: flex;
    gap: 26.56px;
}

.List ul li a{
    text-decoration: none;
    color: #000000;

}

.navBtn{
    width: 209.75px;
    height: 65.1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 18.08px 13.56px 18.08px 13.56px;
    gap: 13.56px;
    border-radius: 5px;
    border: 1px solid #FF0000;
    opacity: 0px;
}



.navBtn a {
    text-decoration: none;
    color: #000000;
}

.HeroSection{
    display: flex;
}

.bg{
    width: 100%;
}

.Background{
    width: 100%;
    height: 1200px;
    position: relative;
    bottom: 100px;
}

.HeroHeader{
    width: 469px;
    height: 210px;
    position: absolute;
    top: 213px;
    left: 126px;
    gap: 0px;
    opacity: 0px;
}

.HeroHeader h2{
    font-family: Lato;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
}

.heroSectiontext{
    color: #FFF;

}

.p-text{
    width: 445px;
    height: 108px;
    position: absolute;
    top: 445px;
    left: 126px;
    gap: 0px;
    opacity: 0px;
}

.p-text p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: justified;

}

.HeroSect_btn{
    width: 209.75px;
    height: 65.1px;
    background-color: #FFF;
    top: 587px;
    left: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18.08px 13.56px 18.08px 13.56px;
    border-radius: 5px solid #fff;
    opacity: 0px;
}

.HeroSect_btn  img{
    width: 28.93px;
    height: 28.93px;
    gap: 0px;
    opacity: 0px;
}

.HeroSect_btn a{
    text-decoration: none;
    color: #0082C4;
    display: flex;
    gap: 13.56px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.HeroBtn{
    display: flex;
    gap: 18px;
}

.HeroSect_Btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
    width: 222.1px;
    height: 65.1px;
    padding: 18.08px 13.56px 18.08px 13.56px;
    border-radius: 5px;
}


.HeroSect_Btn2 a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.Hero_Img{
    width: 305px;
    height: 713px;
    position: absolute;
    top: 68px;
    left: 600px;
    gap: 9.69px;
    opacity: 0px;
    z-index: 1;
}

.Hero_Img img{
    width: 650px;
}

.Section3  {
    position: absolute;
    top: 690px;
    height: 1077px;
    width: 100%;
    background-image: linear-gradient(to right, #9bd0ed, #fff, #fff, #fff, #fff, #fab1b1);
}

.divOne{
    /* background-color: #fff; */
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.divTwo{
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.divThree{
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.Training{
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    line-height: 60px;

}

.cardOnehead h3{
    font-size: 18px;
    font-weight: 700;
}

.cardOnehead p {
    font-weight: 400;
    font-size: 18px;
}
.cardOneimage{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 34px !important;
}

.cardOneimage img{
    width: 33px;
    height: 33px;
    top: 2px;
    gap: 0px;
    opacity: 0px;
}

.cardOneimage a {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.cardTwohead h3{
    font-size: 18px;
    font-weight: 700;
}

.cardTwoimage{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 41px !important;
}

.cardTwoimage img{
    width: 33px;
    height: 33px;
    top: 2px;
    gap: 0px;
    opacity: 0px;
}

.cardTwohead p{
    font-weight: 400;
    font-size: 18px;
}

.cardTwoimage a {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.cardThreehead h3{
    font-size: 18px;
    font-weight: 700;   
}

.cardThreehead p{
    font-weight: 400;
    font-size: 18px;
    width: 270px;
}

.cardThreeimage{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: -2px;
}

.cardThreeimage a{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.cardThreeimage img{
    width: 33px;
    height: 33px;
    top: 2px;
    gap: 0px;
    opacity: 0px;
}

.divFour{
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.cardFourhead h3{
    font-size: 18px;
    font-weight: 700; 
}

.cardFourhead p{
    font-weight: 400;
    font-size: 18px;
}

.cardFourimage{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 16px;
}

.cardFourimage a{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.divFive{
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.cardFivehead h3{
    font-size: 18px;
    font-weight: 700;     
}

.cardFivehead p {
    font-weight: 400;
    font-size: 18px;
}

.cardFiveimage{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardFiveimage a{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.divSix{
    width: 18rem;
    height: 20rem;
    gap: 0px;
    border-radius: 5px solid #fff;
    opacity: 0px;
    box-shadow: 0px 2px 10px 0px #4f4c4c;
}

.cardSixhead h3{
    font-size: 18px;
    font-weight: 700;   
}

.cardSixhead p{
    font-weight: 400;
    font-size: 18px;
}

.cardSiximage{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 5px;
}

.cardSiximage a{
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;
    text-decoration: none;
    color: #000000;
}

.moreCourses{
    width: 209.75px;
    height: 65.1px;
    position: relative;
    left: 840px;
    padding: 18.08px 13.56px 18.08px 13.56px;
    gap: 13.56px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreCourses a {
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 13.56px;
    align-items: center;
}

.SectionFour{
    width: 1449px;
    height: 894px;
    position: relative;
    top: 500px;
    gap: 0px;
    opacity: 0px;
}

.Man{
    position: relative;
}

.Man::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0477C5;
    z-index: 1;
    opacity: 70%;
}

.Man img{
    position: relative;
}

.ManLink{
    width: 301px;
    height: 67px;
    gap: 0px;
    border-radius: 5px;
    position: relative;
    bottom: 130px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    z-index: 1;
}

.ManLink a {
    text-decoration: none;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 25.18px;
    text-align: left;
    color: #fff;

}

.Group-pic{
    position: relative;
    left: -24px;
}

.Group-pic::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FF0000;
    z-index: 1;
    opacity: 70%;
    
}

.Group-pictext{
    width: 343px;
    height: 120px;
    gap: 0px;
    opacity: 0px;
}

.Group-pictext a{
    text-decoration: none;
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #0083C4;
}

.Group-pictext p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: justified;
    position: relative;
    top: 30px;

}

.AnotherGrouptext{
    position: relative;
    top: 30px;
}

.AnotherGrouptext a{
    text-decoration: none;
    color: #0083C4;
    font-family: Lato;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
}

.AnotherGrouptext p{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: justified;
    width: 230px;
}

.schoolvilleImg{
    position: absolute;
    right: -60px;
    bottom: 160px;
    width: 401.35px;
}

.Section4{
    position: absolute;
    top: 2716px;
    left: -4px;
    gap: 0px;
    opacity: 0px;
    height: 800px;
    width: 100%;
    background-image: linear-gradient(to right, #0686C9, #fff,#fff, #fff, #fff, #fff, #fff, #FF8D8D);
}

.SectionFourHead{
    width: 800px;
    height: 356px;
    gap: 0px;
    opacity: 0px;
    background-color: #ECECEC;
    display: block !important;
}

.SectionFourHead .img{
    width: 90px;
    height: 129px;
    position: relative;
    bottom: 40px;
    gap: 0px;
    opacity: 0px;

}

.SectionFourHead h3{
    font-family: Lato;
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    bottom: 40px;

}

.Section4-p-text{
    gap: 0px;
    opacity: 0px;
    text-align: center;

}

.Section4-p-text p{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    width: 530px;
    position: relative;
    left: 120px;
    bottom: 20px;
    bottom: 20px;
}

.Section4-p-text span{
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #067EFF;

}

.RegisterFour{
    width: 209.75px;
    height: 65.1px;
    position: relative;
    bottom: 10px;
    left: 290px;
    padding: 18.08px 13.56px 18.08px 13.56px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #FF0000;
}

.SponsorImages{
    width: 90px;
    height: 58px;
    gap: 0px;
    opacity: 0px;

}

.Sponsors{
    width: 60rem;
    position: relative;
    bottom: 20px;
    right: 80px;
}

.Main_Sponsors{
    position: relative;
    top: 150px;
}
.FooterImages{
    position: relative;
    left: -200px;
    bottom: -20px;
    width: 305px;
    height: 137px;
    gap: 0px;
    opacity: 0px;
}

footer{
    position: relative;
    width: 100%;
    height: 487px;
    position: relative;
    top: 78rem;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(180deg, #221DCE 0%, #0083C4 100%);   
}

.F_watermark{
    position: relative;
    top: -10px;
    left: 48rem;
    z-index: 1;
    width:429.96px;
    height: 481px;
}

.F_watermark1{
    position: relative;
    bottom: 21px;
    z-index: 1;
    left: 265px;
    gap: 0px;
    opacity: 0px;
    width: 700px;
    height: 510px;
    margin: 0;
}

.Footer-p-text{
    position: relative;
    left: 130px;
}

.Footer-p-text p:first-child{
    position: relative;
    top: 40px;
    font-size: 18px;
    
}

.Footer-p-text input{
    border-bottom: 2px solid #fff !important;
    position: relative;
    top: 30px;
    width: 386px;
    height: 42px;
    outline: none;
}

.Footer-p-text input::placeholder{
    color: #fff !important;
}


.Footer-p-text img{
    width: 34px;
    height: 34px;
    position: relative;
    bottom: 5px;
    left: -30px;
    border-radius: 50px;
    opacity: 0px;
}


.E_address{
    position: relative;
    top: 45px;
}

.FooterForm{
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: -797px;
}

/* .FooterWmark{
    position: relative;
    right: -600px;
    width: 600px;
} */

.Height{
    width: 100%;
    height: 4px;
    top: 160px;
    position: relative;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    background-color: #0083C4;
}

.HeightOne{
    width: 100%;
    height: 4px;
    top: 370px;
    position: relative;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    background-color: #0aadff;
}

.FooterEnd{
    width: 600px;
    height: 51px;
    position: relative;
    top: 210px;
    left: 70px;
    gap: 6rem;
    opacity: 0px;
}

.FooterEnd p{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.18px;
    text-align: left;
    
}

.FooterEnd h3{
font-family: Lato;
font-size: 16px;
font-weight: 800;
line-height: 25.18px;
text-align: left;
width: 300px;
}

.FooterEnd div{
    width: 200px;
}

.FooterBottom{
    position: relative;
    top: 305px;
    margin: 70px;
    display: flex;
    justify-content: space-between;
}

.BgOne{
    /* width: 480px;
    height: 12px;
    position: relative;
    top: 627px;
    left: 146px;
    gap: 0px;
    opacity: 0px;
    background-color: #0083C4; */
}

.LastSection{
    /* width: 480px; */
    height: 12px;
    position: relative;
    top: 247px;
    left:0px;
    gap: 0px;
    opacity: 0px;
    background-color: #0083C4;
}

.LastSection_One{
    /* width: 480px; */
    height: 12px;
    position: relative;
    top: 247px;
    right: 0px;
    gap: 0px;
    opacity: 0px;
    background-color: #EE090E;

}

@media screen and (max-width: 768px) {

    /* .navImage img:first-child{
        display: block !important;
    } */

    .navImage img:last-child{
        /* display: none !important; */
        width: 200px;
        height: 80px;
        position: relative;
        right: 20px;
    }

    .bg{
        position: relative;
        top: 20px;
        width: 100%;
        height: 760px;
        background: linear-gradient(180deg, #221DCE 0%, #0083C4 100%);

    }

    .bg img:first-child{
        width: 700px;
        position: relative;
        bottom: -80px;
        right: 400px;
        display: block !important;
    }

    .BgTwo{
        width:500px;
        position: relative;
        right: 300px;
        bottom: 370px;
        display: block !important;
    }

    .heroSectiontext{
        position: relative;
        /* right: 352px; */
        width: 100%;
        right: 368px;
    }

    .HeroHeader{
        position: relative;
        left: -320px;
        top: 100px;
    }

    .HeroHeader h2{
        font-size: 35px;
        line-height: 35px;
        width: 250px;
        position: relative;
        left: 349px;
    }

    .HeroBtn{
        display: flex;
        position: relative;
        bottom: 180px;
        right: 100px;
    }

    .HeroBtn .HeroSect_btn {
        width: 109px;
        height: 32.5px;
        border-radius: 5px;
        
    }

    .HeroBtn .HeroSect_btn a{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .HeroBtn .HeroSect_Btn2{
        position: relative;
        left: 1px;
        width: 109px; 
        /* top: 10px; */
        height: 32.5px;
        border-radius: 5px;
    }

    .HeroBtn .HeroSect_Btn2 a{
        display: flex;
        align-items: center;
        /* font-size: 10px; */
    }

    .HeroSect_Btn2 div:first-child{
        display: flex !important;
    }

    .HeroSect_Btn2 div:last-child{
        display: none;
    }

    .Hero_Img{
        position: relative;
        left: -812px;
        top: 476px;
    }

    .Hero_Img img{
        width: 325px;
        position: relative;
        left: 100px;
    }

    .p-text{
        width: 100px;
    }


    .p-text p{
        position: relative;
        bottom: 179px;
        right: 97px;
        width: 300px;
    }

    .Background{
        display: none;
    }

    .nav{
        height: 50px !important;
    }


    .List ul li{
        padding: 10px;
    }

    .List ul{
        padding: 20px;
        display: block;
    }

    .navBtn{
        position: relative;
        left: 23px;
        width: 90px;
        height: 42px;
    }

    .navBtn a{
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .navBtn img{
        width: 14px;
        height: 14px;
    }


    .Section3{
        position: relative;
        height: fit-content;
        top: 20px;
    }

    .CardSection{
        position: relative;
        right: 35px;
    }

    .divOne{
        width: 280px;
        height: 340px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .divTwo{
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 340px;
    }

    .divThree{
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 340px;
    }

    .cardTwoimage{
        position: relative;
        bottom: 30px;
    }

    .cardThreehead p{
        width: 250px;
    }

    .CardSection_Two{
        position: relative;
        right: 35px;
    }

    .divFour{
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 340px;
    }

    .divFive{
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 340px;
    }

    .divSix{
        width: 280px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 340px;
    }

    .moreCourses{
        position: relative;
        left: 6rem;
        bottom: 37px;
    }

    .Man{
        position: relative;       
        bottom: 30rem;
        right: 20px;
        
    }

    .Man::before{
        content: "";
        position: absolute;
        top: 0rem;
        right: 20px;
        width: 360px;
        background-color: #0477C5;
        z-index: 1;
        opacity: 50%;
      
    }

    .Man img{
        width: 360px;

    }

    .ManLink{
        position: relative;
        left: -6px;
        bottom: 600px;
    }

    .Group-pic{
        position: relative;
        top: 700px;
        left: -370px;
    }

    .Group-pic img{
        position: relative;
        left: 358px;
        bottom: 50rem;
        width: 352px;
        /* height: 155px; */
    }
    .Group-pic::before{
        content: "";
        position: absolute;
        left: 358px;
        width: 329px;
        top: -50rem;
        background-color: #FF0000;
        z-index: 1;
        opacity: 70%;
    }

    .Group-pictext{
        width: 100%;
    }

    .Group-pictext a{
        position: relative;
        bottom: 50rem;
        font-size: 35px;
        line-height: 35px;
        display: block;
        width: 300px;
        padding: 5px;
        font-weight: 500;
    }

    .Group-pictext p{
        position: relative;
        right: -8px;
        top: -50rem;
        width: 320px;
        line-height: 35px;
    }

    .AnotherGrouptext a{
        position: relative;
        bottom: 14rem;
        font-size: 35px;
        font-weight: 500;
        line-height: 35px;
        display: block;
        width: 300px;
        padding: 5px;
    }

    .AnotherGrouptext p{
        position: relative;
        bottom: 14rem;
        /* font-size: 35px; */
        line-height: 35px;
        display: block;
        width: 300px;
        padding: 5px;
    }

    .schoolvilleImg{
        width: 100%;
        position: relative;
        left: 0;
        height: 305px;
        top: 60rem;
    }

    .Section4{
            position: relative;
            left: 0;
            top: 85rem;  
            height: 82rem;
    }


    .SectionFour{
        position: relative;
        right: 24px;
        width: 100%;
        margin: 0;
    }

    .SectionFourHead{
        position: relative;
        top: 20px;
        width: 90%;
        height: 500px;
    }

    .SectionFourHead .img{
        /* width: 62px;
        height: 62px; */
    }

    .SectionFourTwo h3{
        font-size: 35px;
        font-weight: 500;
        line-height: 40px;
        margin: 20px;
        display: flex;
        position: relative;
        bottom: 100px;
    }

    .Section4-p-text p{
        position: relative;
        left: 6px;
        bottom: 37px;
        width: 300px;
    }

    .schoolvilleImg{
        position: relative;
        top: -12rem;
    }

    .RegisterFour{
        position: relative;
        left: 48px;
        top: -20px;
    }

    .Sponsors{
        width: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0px;
        bottom: 70px;
    }

    footer{
        position: relative;
        top: 82rem;
        height: 80rem;
    }

    .FooterEnd{
        display: block !important;
    }

    .FooterImages{
        width: 200px;
        position: relative;
        left: 160px;
        bottom: 17px;
    }

    .Footer-p-text{
        position: relative;
        left: -13px;
        top: 72rem;
        height: 100px;
    }

    .Footer-p-text input{
        width: 300px;
    }

    .Footer-p-text p:first-child{
        font-size: 15px;
    }

    .Footer-p-text a img{
        position: relative;
        top: -13px;
        left: 270px;
    }

    .Height{
        display: none;
    }

    .HeightOne{
        position: relative;
        top: 55rem;
    }

    .FooterEnd{
        position: relative;
        top: 100px;
        left: 20px;
        width: 100px;
    }

    .FooterForm{
        position: absolute;
        left: -458px;
    }

    .FooterForm .F_watermark{
        position: relative;
        top: 100px;
        left: 215px;
        width: 300px;
    }

    .FooterForm .F_watermark1  {
        display: none;
    }

    .FooterWmark{
        position: relative;
        left: 245px;
    }

    .FooterBottom{
        position: relative;
        top: 60rem;
        left: 60px;
        display: block;
        font-size: 14px;
    }

    .FooterBottom div:last-child p:first-child{
        display: flex;
    }

    .Last_Section{
        position: relative;
        top: 48.7rem;
    }

    .Nav_Link{
        position: relative;
        left: 30px;
        display: block !important;
    }
    
    .Nav_Link img{
        width: 30px;
    }

    .LIST {
        display: block !important;
    }

    .List{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #0082C4;
        padding: 20px;
        text-align: justify;
        z-index: 1;
    }

}